.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 40px auto;
    box-sizing: border-box;
}


.cards {
    background-color: white;
    width: 45%;
    text-align: left;
    margin: 20px 0;
    padding: 10px 0 10px 15px;
    border-radius: 15px;
    line-height: 40px;
}


@media only screen and (max-width: 600px) {

    .card-container {
        flex-flow: column;
        width: 80%;
    }

    .cards {
        width: 100%;
    }


}